<% include ./partials/header %>

<div class="ui padded text container">
    <img class="ui image fluid" src="http://static.tumblr.com/118f7ece4354e15822a0295bcbd54337/fqw1zkb/08Rntqpp9/tumblr_static_14p0wp6h6qhw888ogwsgc0kok.jpg">
    <h1>This page is dedicated to Rick and Morty Backgrounds and Screen Savers</h1>

    
    <br>
    <img class="ui medium centered image" src="http://static.tvtropes.org/pmwiki/pub/images/ramsignedmailer.jpg">
    <p class="ui centered">Site Dedicated to Rick and Morty</p>

</div>


<% include ./partials/footer %>